.order{
    background-color: #f0f0f0;
    border: 1px solid #4A8AA4;
    border-radius: 7px;
    width: 80%;
    height: 150px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.text > span:first-child{
    font-weight: bold;
}

.text{
    display: flex;
    gap: 7px;
}

.button{
    color: #00013E;
    margin-right: 50px;
}

.button *{
    min-height: 200px;
}