.organizationView {
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orgName,
.orgInfo {
    margin-left: 5vw;
    display: flex;
    align-items: center;
}

.orgName{
    margin-top: 3vh;
}

.orgName h1 {
    font-size: var(--h1-title-size--);
    width: 100%;
    color: #313131;
    padding: 0;
    margin: 0;
}

.orgName Button {
    height: 6vh;
    margin-right: 5vw;
    font-size: 15px;
}

.orgInfo {
    margin-top: 5vh;
    gap: 3vw;
}

.infoElement {
    display: flex;
    align-items: center;
}

.infoElement svg {
    font-size: 15px;
    color: #36506C;
}

.infoElement span {
    font-weight: 400;
    font-size: 15px;
    margin-left: 1vw;
    color: #7E7E7E;
}

.sections {
    margin: 5vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    display: flex;
    margin-right: 5vw;
    margin-top: 2vh;
}

.buttons div Button {
    border: none;
    background-color: transparent;
    color: #313131;
}

.sectionSelect {
    z-index: 2000;
    border-color: #36506C;
    width: 100%;
}

.sections > hr {
    z-index: 10;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 2vh;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
}

.selectSection{
    display: none;
}

@media screen and (max-width: 900px) {
    .section {
        width: 90%;
    }

    .sections {
        margin: 5vh 1vw;
        width: 100%;
    }

    .buttons {
        justify-content: center;
        align-items: center;
        margin: 0;
        
    }

    .buttons div {   
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

@media screen and (max-width: 600px) { 
    .orgInfo {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        gap: 1.7vh;
    }

    .section {
        width: 90%;
    }

    .sections {
        margin: 1vh 1vw;
        width: 100%;
    }

    .buttons {
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .organizationView {
        align-items: center;
        justify-content: center;
    }

    .orgName {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .orgName h1 {
        text-align: center;
        padding: 0;
    }

    .orgInfo {
        margin-top: 3vh;
    }

    .sections {
        width: 100%;
    }
    
    .buttons {
        display: none;
    }

    .sections{
        align-items: center;
    }

    .sections > hr {
        display: none;
    }
    
    .selectSection{
        margin-top: 3vh;
        width: 65vw;
        display: flex;
    }
}

@media screen and (max-width: 400px) {
    .orgName {
        display: flex;
        flex-direction: column;
        align-items: space-between;
    }
}
