.requests{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header h2{
    font-size: var(--h2-title-size--);
    width: 100%;
    color: #313131;
}

Button{
    height: 6vh;
}

.header Button{
    height: 6vh;
    font-size: 15px;
    background-color: #36506C;
}

.requestsList{
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    box-shadow: var(--container--box-shadow--);
    padding: 15px;
    background-color: white;
}

.searchContainer {
    display: flex;
    justify-content: end;
    margin: 1% 0;
    width: 100%;
    gap: 15px;
    align-items: end;
}

.searchContainer > *{
    justify-content: right !important;
}

.content{
    width: 100%;
    margin: -1% 0 2% 0;
    display: flex;
    justify-content: center;
}

Table {
    margin-top: 3.5vh;
}

.table{
    width: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

@media  screen and (max-width: 700px) {
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .header h2{
        text-align: center;
    }

    .header Button{
        width: 50%;
    }

    .searchContainer {
        width: 50%;
    }

    .requestsList{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .content{
        width: 100vw;
        margin: -1% 0 2% 0;
        display: flex;
        justify-content: center;
    }

    
    .searchContainer > button {
        height: 6vh;
        font-size: fit-content;
    }

    .searchContainer > div > input {
        height: 6vh;
        font-size: fit-content;
    }

    .table{
        width: 80%;
    }
}

@media screen and (max-width: 500px) {

    .searchContainer > button {
        height: 6vh;
        font-size: fit-content;
    }

    .searchContainer {
        width: 90%;
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

}

@media screen and (max-width: 400px) {
    .header Button{
        width: 100%;
    }
}
    
    

