.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.detail{
    margin-top: 10px;
}

.detailTitle{
    font-weight: bold;
}

.containerTitle{
    margin: 0;
}