.inventory{
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.store{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 3%;
  justify-content: space-between;
}

.store h1{
  font-size: var(--h1-title-size--);
  width: 100%;
  color: #313131;
  padding: 0;
  margin-left: 5vw;
}

.store Button {
  height: 6vh;
  margin-right: 5vw;
  font-size: 15px;
}

.info{
  width: 90%;
  margin: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  box-shadow: var(--container--box-shadow--);
  padding: 35px;
}

.head{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  gap: 40px;
  margin-bottom: 20px;
}

.content{
  width: 100%;
  display: flex;
  justify-content: center;
}

Table {
  margin-top: 3.5vh;
}

.table{
  width: 100%;
}

.icons{
  display: flex;
  gap: 10%;
  justify-content: center;
}

.iconButton{
  background: none;
  outline: none;
  border: 0;
  cursor: pointer;
}


@media  screen and (max-width: 700px) {
  .store{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }

  .store h1{
      text-align: center;
  }

  .store Button{
      width: 100%;
  }

  .head{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  }

  .content{
      width: 100vw;
      margin: -1% 0 2% 0;
      display: flex;
      justify-content: center;
  }

  .table{
      width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .head{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;  
  }

}

@media screen and (max-width: 400px) {
  .store Button{
      width: 90%;
  }
}
