.button{
  border-radius: 8px;
  padding: 10px 15px;
  outline: none;
  border: none;
  font-family: helvetica;
  font-size: 16px;
  cursor: pointer;
}
  
  .button[disabled] {
    background-color: #DDD;
    color: #333;
    cursor: not-allowed;
  }
  
  .button.secondary {
    background-color: white;
    color: #333;
    border: 3px solid #333;
  }

  .button.secondary:hover {
    background-color: #1c253217;
    
  }

  

.button:focus{
    outline: none;
}

.button:active{
    background-color: #2f3b4c;
    opacity: 1;
}

.button{
    background-color: #1C2532;
    color: white;
    font-weight: bold;
}

.button:hover{
    opacity: 0.9;
}


.button.blue{
  background-color: #0552c7;
}

.button.blue:hover{
  background-color: #2b73df;
}
.button.blue:active{
  background-color: #084bb1;
  color: white;
}

.button.emptyRed{
  color: rgb(144, 10, 0);    
  background-color: #e5e5e5;
}

.button.emptyRed:hover{
  color: rgb(255, 46, 31);
  
}

.button.red{
  background-color: #da1212;
}
.button.red:hover{
  background-color: #eb3939;
}
.button.red:active{
  background-color: #c01b1b;
}

.button.darkBlue{
  background-color: #394457;
}
.button.darkBlue:hover{
  background-color: #546279;
}
.button.darkBlue:active{
  background-color: #394457;
}

.button.green{
  background-color: #18AA4A;
}

.button.green:hover{
  background-color: #2b73df;
}
.button.green:active{
  background-color: #084bb1;
  color: white;
}