.button {
    background-color: #1C2532;
    color: #F5F5F5;
    border-radius: 10px;
    padding: 0px 21px;
    cursor: pointer;
    border: none;
    width: hug;
    font-weight: 700;
    font-size: 16px;
  }
  
  .button[disabled] {
    background-color: #DDD;
    color: #333;
    cursor: not-allowed;
  }
  
  .button.secondary {
    background-color: white;
    color: #333;
    border: 1px solid #333;
  }