.organizationsPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: var(--page-horizontal-padding--) var(--page-vertical-padding--);
}

@media only screen and (max-width: 930px) {
    .organizationsPageContainer{
        padding-left: 0;
        padding-right: 0;
    }
    
}

.mainTitle{
    text-align: left;
    margin-right: auto;
    font-size: var(--h1-title-size--);
}

.tableContainer{
    display: flex;
    flex-direction: column;
    width: 85vw;
    background-color: #FDFDFD;
    box-shadow: var(--container--box-shadow--);
    border-radius: 10px;
    padding: 2%;
}

@media only screen and (max-width: 450px) {
    .tableContainer{
        width: 100%;
    }
    
}

.tableBanner{
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px 10px 10px;
    width: 85vw;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

@media only screen and (max-width: 450px) {
    .tableContainer{
        width: 100%;
        box-shadow: none;
    }

    .organizationsPageContainer{
        background-color: #FDFDFD;
    }
    
    .tableBanner{
        flex-direction: column;
        text-align: center;
    }

    .mainTitle{
        text-align: center;
    }
}

.confirmation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmationText{
    margin-bottom: 20px;
    font-weight: 600;
}

.organizationName{
    cursor: pointer;
}

.organizationName:hover{
    color: darkblue;
}

.garbageIcon{
    filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(357deg) brightness(117%) contrast(100%);
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}