.inputContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70px;
}

.inputTitle{
    text-transform: capitalize;
    font-size: 14px;
    color:#828484;
    text-align: left;
    margin-bottom: 10px;
}

.inputBox{
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
}

.radioContainer{
    display: flex;
    align-items: center;
    gap: 5px;
}


.inputContainer.error label, .inputContainer.error .inputTitle{
    color:var(--error-color--)
}

.inputContainer .inputError{
    text-align: left;
    color: var(--error-color--);
    font-size: 15px;
}