.productionControlPage{
  padding: var(--page-vertical-padding--) var(--page-horizontal-padding--);
}

.pageTitle{
  margin-bottom: 25px;
  font-size: var(--h1-title-size--);
}

.productionControlPageContainer{
  display: grid;
  grid-template-columns: 230px 1fr;
  gap: 25px;
}

.mainContainer{
  background-color: white;
  box-shadow: var(--container--box-shadow--);
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.orderData{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
}

.orderData .oneLine{
  grid-column: 1/-1;
}

.fieldTitle{
  font-weight: bold;
}

.sectionTitle{
  font-size: var(--h3-title-size--);
}

.orderStateHeader{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

@media only screen and (max-width:950px){
  .productionControlPageContainer{
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }
  
}


@media only screen and (max-width:650px){
  .productionControlPage{
    padding: var(--min-page-vertical-padding--) var(--min-page-horizontal-padding--);
  }

  .pageTitle{
    text-align: center;
  }

  .orderData{
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  
}