.productContainer {
    width: 100%;
    border-radius: 4px;
    margin-top: 20px;
}

.product {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: start;
    justify-items: center;
}

.tableContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    justify-content: space-between;
}

.tableProduct {
    text-align: center;
    font-size: 15px;
    border-collapse: collapse;
}

.tableThProduct {
    border-bottom: 2px solid black;
}

.tableThProduct, .tableTdProduct, .tableTotalProduct {
    padding: 5px;
}

tbody .tableTrProduct:nth-child(2n) {
    background-color: #dadcde;
}

tbody .tableTotalProduct {
    background-color: #3d4b5e;
    color: white;
}


@media (max-width: 660px) {
    .product {
        grid-template-columns: repeat(1, 1fr);
    }

    .tableContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0em;
    }

    .tableProduct {
        margin: 0;
    }

    .tableProduct:last-child thead .tableTrProduct{
        visibility: collapse;
    }

    .tableProduct:last-child thead .tableThProduct {
        border: none;
    }
}
