.mainContainer {
	width: 80vw;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative;
    overflow: hidden;
    min-height: 30vh;
	margin: 20px 0;
}

.createOrganitationBannerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.createOrganitationBanner {
    width: 80%;
    margin: 20px 0;
    padding: 10px 5px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E2E3E5;
    text-align: center;
}

.alertDialog {
    width: 40px;
    height: 40px;
}

.clientInfoContainer {
	display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0fr));
    justify-content: start;
    width: 100%;
}

.mesage {
	margin: 20px 0;
	color: #787878;
}

.selectOrgContainer {
	width: 80%;
	display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	justify-items: center;
	align-items: center;
}

.assignOrgContainer {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}