.mainContainer{
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.container {
    position: absolute;
    height: 60px;
    background-color: #292929;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.hamburgerMenuContainer{
    margin-right: auto;
    margin-left: 20px;
}

.hamburgerMenu{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.hamburgerMenu:hover{
    filter: drop-shadow(0 0 0.7em #ffffff);
}

.profilePic{
    width: 40px;
    height: 40px;
}

.loggedUserContainer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.userInfoContainer {
    display: flex;
    margin-right: 20px;
}

.profilePicContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.userCredentialsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

p{
    margin: 0;
}

.userName{
    font-weight: bold;
}

.menuDisplayed{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #403f3f;
    position: absolute;
    left: 0px;
    top: 60px;
    transition: left 0.3s ease;
    padding-bottom: 20px;
}

.menuHidden{
    position: absolute;
    top: 60px;
    background-color: #403f3f;
    width: 400px;
    left: -400px;
    transition: left 0.3s ease;
    padding-bottom: 20px;
}

.menuTitle{
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menuItem{
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-bottom: 20px;
}

.menuIcon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}