.mainContainer{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-bottom: 60px;
}

.container {
    position: absolute;
    height: var(--navBar-height--);
    background-color: #292929;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.hamburgerMenuContainer{
    margin-right: auto;
    margin-left: 20px;
}

.hamburgerMenu{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.hamburgerMenu:hover{
    filter: drop-shadow(0 0 0.7em #ffffff);
}

.profilePic{
    width: 40px;
    height: 40px;
}

.loggedUserContainer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.unLoggedUserContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.userInfoContainer {
    display: flex;
    margin-right: 20px;
}

.profilePicContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.userCredentialsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

p{
    margin: 0;
}

.userName{
    font-weight: bold;
}

.sideMenu{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #403f3f;
    position: fixed;
    left: 0px;
    top: 60px;
    transition: left 0.3s ease;
    align-items: center;
    height: calc(100vh - var(--navBar-height--));
    box-sizing: border-box;
    
}

.hideMenu{
    left: -300px !important;
}

.menuTitle{
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.optionsContainer{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 20px;
}

.menuItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.menuIcon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.buttonsContainer {
    margin-right: 20px;
}

.signUpButton {
    margin-right: 10px;
    border-radius: 5px;
    background-color: #292929;
    color: white;
    cursor: pointer;
    padding: 12px 20px;
    width: fit-content;
    border: 2px solid #ffffff;
    font-weight: bold;
}

.loginButton {
    margin-right: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #292929;
    cursor: pointer;
    padding: 12px 20px;
    width: fit-content;
    font-weight: bold;
}