.mainContainer{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: 100%;
}

.container {
    position: absolute;
    height: var(--navBar-height--);
    background-color: #292929;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.hamburgerButton{
    background-color: transparent;
    border: 0;
    outline: none;
    height: 25px;
    width: 25px;
}

.hamburgerMenu{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.hamburgerMenu:hover{
    filter: drop-shadow(0 0 0.7em #ffffff);
}

.profilePic{
    width: 40px;
    height: 40px;
}

.loggedUserContainer{
    display: grid;
    grid-template-columns: min-content 1fr;
    width: 100%;
    max-width: 100%;
    align-items: center;
    gap: 40px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 20px;
}

.unLoggedUserContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.userInfoContainer {
    display: flex;
    gap: 20px;
    justify-self: right;
    overflow: hidden;
    max-width: 100%;
}

.profilePicContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.userCredentialsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.userCredentialsContainer > div{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    min-width: 0;
    width: 100%;
}

.userName{
    font-weight: bold;
}


.buttonsContainer {
    margin-right: 20px;
  }
  
  .signUpButton {
    margin-right: 10px;
    border-radius: 5px;
    background-color: #292929;
    color: white;
    cursor: pointer;
    padding: 12px 20px;
    width: fit-content;
    border: 2px solid #ffffff;
    font-weight: bold;
  }
  
  .loginButton {
    margin-right: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #292929;
    cursor: pointer;
    padding: 12px 20px;
    width: fit-content;
    font-weight: bold;
  }

  @media only screen and (max-width: 450px){
    .profilePicContainer{
        display: none;
    }
  }