.sideMenu{

  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #403f3f;
  position: fixed;
  left: 0px;
  top: var(--navBar-height--);
  transition: left 0.3s ease;
  align-items: center;
  height: calc(100vh - var(--navBar-height--));
  box-sizing: border-box;
  z-index: 999;
  color: #ffffff;
}


.hideMenu{
  left: -300px !important;
}

@media only screen and (max-width:300px) {
  .sideMenu{
    width: 100%;
  }

  .hideMenu{
    left: -100% !important;
  }
}

.menuTitle{
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.optionsContainer{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
}

.menuItem{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.menuIcon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
