.mainContainer {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    color:gray;
    position: relative;
}



.colorsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    border: 1px solid #D2D7D9;
    border-radius: 7px;
    overflow: auto;
    color: black;
    padding-top: 20px;
}

.colorsListContainer{
    max-height: 60vh;
    padding: 15px 20px 20px 40px;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
}

.colorsList {
    width: fit-content;
}

.searchInput{
    margin: 0 20px;
}