.organizationProductsPage{
  width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  padding: 50px 30px;
  gap: 30px;
}

.pageHeader{
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.organizationProductsPage .pageHeader h1{
  font-size: var(--h1-title-size--);
}

.productFilter{
  height: calc(100vh - var(--navBar-height--) - 60px);
  display: flex;
  align-items: flex-start;
  position: sticky;
  top: calc(var(--navBar-height--) + 30px);
}

.productsContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

@media only screen and (max-width: 650px){
  .organizationProductsPage{
    grid-template-columns: 1fr;
  }

  .productFilter{
    height: auto;
    display: flex;
    align-items: flex-start;
    position: static;
  }
}


@media only screen and (max-width: 400px){
  .organizationProductsPage{
    padding: 25px 10px;
  }

  .productFilter{
    height: auto;
    display: flex;
    align-items: flex-start;
    position: static;
  }
}