.styles {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

.header {
    flex: 1;
    max-height: 100%;
    overflow: hidden;
}