.OrdersList{
    display: flex;
    max-width: 100vw;
    color: #313131;
}

.OrdersList main{
    padding: var(--page-vertical-padding--) var(--page-horizontal-padding--);
    width: 100%;
}

.topHeader{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 25px;
    max-width: 2000px;
}

.title{
    font-size: var(--h1-title-size--);
    font-weight: 600;
}

.orders{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
}

.noResultContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.noResultContainer p{
    font-size: 25px;
}

@media only screen and (max-width: 550px){
    .topHeader{
        flex-direction: column;
        align-items: center;
    }
    .title{
        text-align: center;
    }
    .searchInput{
        max-width: 350px;
    }
    .orders{
        padding-right: 0;
    }
}